@require "../../core/styl/core.styl"

.kldn-page-photo
  display: block
  background: #fff
  min-height: 100%

.kldn-page-photo__feed
  grid()

.kldn-page-photo__collection
  cell(6)
  padding-top: gutter
  margin-bottom: gutter
  background: lightgrey
