@require "../../core/styl/core.styl"
@require "./utility.styl"
/*
** Change this if you need to modify
** the amount of lines displayed
*/
$total-lines = 4;

$fz = 2.2rem;
$fz-desktop = 3.8rem;
$bg = #5138BE;
$delay = .8s;


.kldn-header
  position: relative
  padding-top: 2rem
  max-width: 100%
  width: 100%
  overflow: hidden
  height: 33.5rem
  @media $bp-desktop
    height: calc(100% - 8rem)
    min-height: 61rem
    padding-top: 0
    background-size: auto 80%
    margin-bottom: 7rem

/*
** Apply styles to the parent element
*/
.kldn-words
  words-container($fz);
  width: .1rem
  padding: 0 $gutter 0;
  transform: translateX(-100%)
  transition: .5s $trans-ease-out-quad transform
  init-appear-delay('slogan')

  @media $bp-desktop
    words-container($fz-desktop);
    transform: translateX(0)
    position: absolute
    left: 0
    top: 12.75rem

.dom-loaded .kldn-words
  transform translateX(0)
/*
** Apply common styles to each line of text
*/

.kldn-words-line
  words-line($fz);
  @media $bp-desktop
    words-line($fz-desktop);


/*
** Fine-grained text styles
*/
.kldn-words-line__content
  words-line-content($fz);
  position: relative
  padding-left: .7rem
  color: blue
  transition: .5s $trans-ease-out-quad margin
  .kldn-words-line:nth-child(even) &
    init-appear-delay('slogan-even')
    margin-top: -2em
  .kldn-words-line:nth-child(odd) &
    init-appear-delay('slogan-odd')
    margin-top: 2em

  @media $bp-desktop
    words-line-content($fz-desktop);

.dom-loaded .kldn-words-line__content
  margin-top: 0 !important

//.kldn-words-line__content_mask
//  //background: red
//  position: absolute
//  left: 0
//  top: 0
//  overflow: hidden !important
//  height: 0
//  transition: .2s linear height


.dom-loaded .kldn-words-line__content_mask
  height:100%

.kldn-header__name
  letter-spacing: -.05em;
  font-size: 3.5rem;
  line-height: @font-size * .9
  font-weight: 900;
  position: relative;
  transform-origin: 0 0;
  transform: $base-trnsfrm;
  text-transform: uppercase
  padding-left: $gutter
  padding-right: $gutter
  padding-top: 1rem
  transition: .5s $trans-ease-out-quad
  transition-property left top
  will-change  left top
  init-appearance()
  init-appear-delay('name')

  @media $bp-desktop
    font-size: 4.5rem;
    line-height: 4.2rem
    transform: skew(0deg, 30deg) scaleY(1.33333) translate3d(-200%, -200%, 0)
    opacity: 1

.dom-loaded .kldn-header__name
  @media $bp-desktop
    transform: skew(0deg, 30deg) scaleY(1.33333) translate3d(0, 0, 0)
    top: 0
    left: 0



.kldn-header__name::after
    display: none
    transform: skew(0deg, 30deg) translateY(-3rem)
    content: '';
    position: absolute;
    border-bottom: 1px solid red;
    left: -50%;
    bottom: 0
    width: 0
    transition: 1s $trans-ease-out-quad
    transition-property width
    init-appear-delay('name')
    @media $bp-desktop
      display: block
      transform: none

.dom-loaded .kldn-header__name::after
  width: 50% + (100% / 6 * 3);


.kldn-header__video
  pointer-events none
  //padding-left: $gutter
  width: "calc(100% - %s)" % $gutter
  position: absolute
  bottom: 0
  right: 0
  @media $bp-tablet
    width: (4 / 6) * 100%

.kldn-header__video::after {
  content: ''
  padding-top: 56.25%
  display: block
}

.kldn-header__video-poster
  absolute-center()
  opacity: .5


.kldn-header__video-bg
  absolute-center()
  width: 100%
  height: 100%
  opacity: 0

.kldn-header__video-bg_is-loaded
  opacity: 1
