$font-color = #222
$font-color-inverted = #fff
$accent-color = blue

//$initDelay = 2s

$gutter = 1rem

$trans-ease-out-quad = cubic-bezier(0.165, 0.84, 0.44, 1)

$font = "Helvetica Neue", Helvetica, Lucida, Arial, sans-serif;
$font-secondary = "Georgia", Times New Roman, serif;

$bp-tablet = 'only screen and (min-width: 37.5em)'; // 600px
$bp-laptop = 'only screen and (min-width: 56.25em)'; // 900px
$bp-desktop = 'only screen and (min-width: 75em)'; // 1200px
