$font-color = #222
$font-color-inverted = #fff
$initDelay = 2s
$trans-ease-out-quad = cubic-bezier(0.165, 0.84, 0.44, 1)
$font = "Helvetica Neue", Helvetica, Arial, sans-serif;

$bp-tablet = 'only screen and (min-width: 37.5em)'; // 600px
$bp-desktop = 'only screen and (min-width: 75em)'; // 1200px
