@require "./core.styl"

body,
html,
#app
  width: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;

html
  font-size: (10 / 16) * 100%

body
  color: $font-color
  font-family: $font
  font-size: 1.6rem
  min-width: 32rem

img
  max-width: 100%

*::selection {
  color: lighten($accent-color, 10%)
  background: rgba(#fff, 5)
  outline: 1px dashed red
}

.kldn-page
  position: relative
  height: 100%
  z-index: 1

*
  //outline 1px dotted red
