@require "../../core/styl/core.styl"
@keyframes link-hover {
  0% {
    bottom: 0
  }

  100% {
    bottom: 100%
    opacity: 0
  }
}



.kldn-header
  grid()
  color: $font-color-inverted
  padding-top: 3rem
  //position: fixed
  display: block
  z-index: 400
  position: relative

.kldn-header__name
  cell(1, 2)
  //text-transform: uppercase
  color: white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-weight: 700
  font-size: 6rem
  -webkit-font-smoothing: antialiased
  @media $bp-desktop
    font-size: 8rem
    -webkit-text-stroke-width: 1px;


.kldn-header ul
  cell(1, 2)
  font-family: Georgia, serif
  font-style: italic
  list-style-type none


.kldn-header ul a
  color: #fff
  font-style: bold
  font-size: 1.2rem
  text-decoration: none
  position: relative
  &::after
    content: ''
    position: absolute
    bottom: 0
    background: currentcolor
    height: 1px
    width: 100%
    left: 0
    transition-duration: .4s
    transition-timing-function ease-in
    transition-property: bottom, opacity


.kldn-header ul a:hover
  &::after
    transition-timing-function ease-out
    opacity: 0
    bottom: 100%
