@require "../../core/styl/core.styl"

.kldn-header
  grid()
  color: $font-color-inverted
  padding-top: 3rem
  //position: fixed
  display: block
  z-index: 400
  position: relative

.kldn-header__name
  cell(1, 2)
  //text-transform: uppercase
  font-weight: 700
  font-size: 4.8rem
