@require "../../core/styl/core.styl"
@keyframes link-hover {
  0% {
    bottom: 0
  }

  100% {
    bottom: 100%
    opacity: 0
  }
}

.kldn-header
  grid()
  width: 100%
  height: calc(100% - 7rem)
  position: relative
  color: $font-color-inverted
  display: block
  zindex('header')

.kldn-header__bg
  position: absolute
  z-index: 1
  height: 100%
  width: 100%

.kldn-header__name
  position: relative
  z-index: 2
  transform: translateZ(300px)
  padding-top: 2rem
  cell(1, 2)
  color: white;
  font-weight: 700
  font-size: 5.5rem
  line-height: 1
  -webkit-font-smoothing: antialiased
  @media $bp-desktop
    max-width: 50%
    font-size: 8rem
    -webkit-text-stroke-width: 1px;

.kldn-header__description
  position: relative
  z-index: 2
  transform: translateZ(300px)
  cell(1,2)
  font-size: 1em
  padding-top: 4rem
  font-family: Georgia, serif
  font-weight: 200
  @media $bp-desktop
    font-size: 1.3em
    max-width: 50%
