@require "../../core/styl/core.styl"

$border-styles = rgba(#999, .4) 1px solid



.kldn-ghost-grid
  transition: 1s ease-in height
  top: -30%
  height: 0
  position: fixed
  width: 100%
  pointer-events: none
  zindex('ghost-grid')
  grid()

.dom-loaded .kldn-ghost-grid
  height: 150%

.kldn-ghost-grid__col
  //outline 1px solid cyan
  cell(2)
  height: 100%
  opacity:0
  &:first-child,
  &:last-child,
  &:nth-child(4) {
    opacity: 1
  }
  @media $bp-desktop
    opacity: 1

.kldn-ghost-grid__line
  height: 100%
  border-left: $border-styles
  &_right
    border-right: $border-styles
  &_right-only
    border-right: $border-styles
    border-left: none
