@require "../../core/styl/core.styl"

.kldn-content-block
  padding-left: $gutter
  padding-right: $gutter
  padding-bottom: 2.5rem
  display: block

.kldn-content-block__title
  position: relative
  padding-bottom: .5rem
  font-size: 2.5rem
  font-weight: bold

.kldn-content-block__title::before {
  content: ''
  position: absolute
  background: $accent-color
  left: -($gutter)
  top: 0
  bottom: 0
  width: .4rem
  height: 2.5rem
}

