@require "../../core/styl/core.styl"

.kldn-content-block
  padding-left: $gutter
  padding-right: $gutter
  padding-bottom: 4rem
  display: block
  max-width: 100%
  white-space: word-break


.kldn-content-block__title
  position: relative
  padding-bottom: 1.5rem
  font-size: 2rem
  line-height: 2rem
  font-weight: bold
  text-transform: uppercase

.kldn-content-block__title::before {
  content: ''
  position: absolute
  background: $accent-color
  left: -($gutter)
  top: -.1em
  bottom: 0
  width: .4rem
  height: .95em
}

.kldn-content-block__content


.kldn-content-block ul
  padding: 0
  margin: 0
  list-style-type none

.kldn-content-block li
  line-height: 1
  padding: 0
  margin-bottom: .5em

