@require "../../core/styl/core.styl"

.kldn-contacts
  init-appearance()
  init-appear-delay('contacts')
  cell(1,1)
  zindex('contacts')
  width: 100%
  display: block
  padding-top: 1.7rem
  padding-bottom: 1.2rem
  @media $bp-desktop
    position: fixed
    right: 0
    top: 3rem
    width: (100 / 6%)
    padding-top: 0
    padding-bottom: 0

.kldn-contacts__contact
  margin-bottom: .5rem
  padding-left: 1px
