@require '../../core/styl/core.styl'

.kldn-bg
//absolute-center()
  position: relative
  height: 100%
  width: 100%
  transition: 2s $trans-ease-out-quad .5s background
  overflow: hidden


.kldn-bg__img
  init-appearance(1s)
  position: relative
  height: 100%
  width: 100%
  background-repeat: no-repeat
  background-color: #c4cacb

.kldn-bg__img_mobile
  overflow: hidden
  @media $bp-tablet
    display: none

.kldn-bg__transparent-camera
  display: none
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  width: 100%
  max-width: 64rem
  padding-top: 100%
  position: absolute
  bottom: -30%
  right: -20%

.kldn-bg__img_desktop
  background-position: center
  display: none
  -webkit-background-size: cover
  background-size: cover
  @media $bp-tablet
    display: block

.kldn-bg__accel
  absolute-center()
  width: 110% !important
  height: 107% !important
  transform: translate(-5%, -10%)
  @media $bp-desktop
    //background: none

.kldn-bg__overlay
  height: 100%
  width: 100%
  background: $accent-color

.kldn-bg__overlay-accel
  opacity: .6
  transform: translateZ(200px)
  mix-blend-mode: multiply
  position: absolute
  top: -100%
  transition: 1s $trans-ease-out-quad .5s
  transition-property: top left
  width: calc(75% - 2rem) !important
  height: calc(88% - 2rem) !important

  @media $bp-tablet
    width: calc(50% - 2rem) !important
    height: calc(50% - 2rem) !important

  @media $bp-desktop
    height: 55% !important
    width: 55% !important

.dom-loaded .kldn-bg__overlay-accel
  top: 1rem
  left: 1rem
  @media $bp-desktop
    top: -5%
    left: -5%
