@require '../../core/styl/core.styl'

.kldn-bg__img
  height: 100%
  width: 100%
  background-position: center
  -webkit-background-size: cover
  background-size: cover
  visibility hidden
  opacity: 0
  transition: .5s $trans-ease-out-quad opacity
  transition-delay 1.2s
  @media $bp-desktop
    visibility visible

.dom-loaded .kldn-bg__img
  opacity: 1

.kldn-bg
  absolute-center()
  position: fixed
  height: 100%
  width: 100%
  background: transparent
  transition: 2s $trans-ease-out-quad .5s

.dom-loaded .kldn-bg
  background: #a8aeae
  @media $bp-desktop
    background: transparent

.kldn-bg__accel
  absolute-center()
  width: 110% !important
  height: 110% !important
  transform: translate(-5%, 0)
  @media $bp-desktop
    background: none

.kldn-bg__overlay
  height: 100%
  width: 100%
  background: blue

.kldn-bg__overlay-accel
  transform: translateZ(200px)
  mix-blend-mode: multiply
  position: absolute
  top: -100%
  transition: 1s $trans-ease-out-quad .5s
  width: calc(75% - 2rem) !important
  height: calc(75% - 2rem) !important

  @media $bp-desktop
    height: 55% !important
    width: 55% !important

.dom-loaded .kldn-bg__overlay-accel
  top: 1rem
  left: 1rem
  @media $bp-desktop
    top: -5%
    left: -5%
